.sidebar-and-article {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
}

.sidebar {
  background-color: hsla(155, 11%, 50%, 0.4);
  width: 20%;
  height: min-content;
  border-radius: 5px;
  padding: 20px;
}

.article-container {
  width: 70%;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.article-blog {
  color: var(--color-primary);
  margin-bottom: 50px;
}

h1 {
  margin-bottom: 30px;
}

.bold-text {
  font-weight: bold;
  margin-bottom: 20px;
}

.author-nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.author-container {
  display: flex;
  justify-content: row;
  margin: 0;
}
.author-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.author-name {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .sidebar-and-article {
    width: 90%;
  }
  .article-container {
    width: 80%;
  }
  .sidebar {
    width: 15%;
  }
}

@media screen and (max-width: 1100px) {
  .sidebar-and-article {
    width: 100%;
  }
  .article-blog,
  .leaflet-container {
    width: 80%;
    display: flex;
    margin: auto;
  }
  .article-container {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .author-nav {
    width: 80%;
    margin: auto;
  }
}
