.sidebar-and-article {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 50px auto 0 auto;
  justify-content: space-between;
}

.sidebar {
  background-color: hsla(155, 11%, 50%, 0.4);  
  width: 20%;
  height: 400px;
  border-radius: 5%;
}

.article-container {
  width: 70%;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.article-blog {
  color: var(--color-primary);
  margin-bottom: 25px;
}

h1 {
  margin-bottom: 30px;
}

.bold-text {
  font-weight: bold;
  margin-bottom: 20px;
}


.author-container {
  display: flex;
  justify-content: row;
  align-items: flex-end;
  margin-bottom: 50px;
}
.author-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.author-name {
  margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .sidebar-and-article {
    width: 90%;
  }
  .article-container {
    width: 80%;
 }
  .sidebar {
    width: 15%;
  }
}

 @media screen and (max-width: 1100px) {
  .sidebar-and-article {
    width: 90%;
  }
  .article-container {
    width: 100%;
 }
  .sidebar {
    display: none;
  }
 }
