.header-image {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

img.header-image  {
  max-width: 100%;
}

.category-title {
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.category-text {
  color: var(--color-primary);
  width: 50%;
  display: flex;
  margin: 20px auto 80px auto;
}

.blogcards-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 50px;
} 

@media screen and (min-width: 600px) {
  .category-text {
    width: 80%;
  }
  header .logo img {
    width: 180px;
  }
}